@page "/about"
<PageTitle>About</PageTitle>
@rendermode InteractiveServer

<h3>Workbook E02 - Sep 2024</h3>
<h4>Author: Tina Caron</h4>
<h4>Section: E02</h4>
<h4>Intructor: Me!</h4>
<h4>Known Bugs:</h4>
<ul>
    <li>All the bugs!</li>
    <li>So many bugs</li>
    <li>Bugs, bugs, bugs, some are good, some are bad.</li>
    <li>Ask your mom and ask your dad.</li>
</ul>

@code {

}
