@page "/input-examples"
@rendermode InteractiveServer

<PageTitle>Hey You!</PageTitle>

<h3>Example Controls</h3>

<HeadContent>
    <!-- Can use this to add a custom CSS script to this page only. -->
</HeadContent>

<section class="row">
    <div class="col-4">
        <ControlTextBoxes />
    </div>
    <div class="col-4">
        <ControlListsandSliders />
    </div>
    <div class="col-3">
        <ControlRadioAndCheckBox />
    </div>
</section>



@code {

}
